.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    position: absolute;
    margin: 45px;
    height: calc(100% - 90px);
    width: calc(100% - 90px);
}

.topLeftCorner,
.bottomRightCorner {
    width: 60%;
    height: 40%;
    border: 2px solid black;
    position: absolute;
}

.topRightCorner,
.bottomLeftCorner {
    width: 40%;
    height: 60%;
    border: 2px solid black;
    position: absolute;
}

.corner,
.middle {
    transition: transform 0.45s ease-out, width 0.45s ease-out,
        height 0.45s ease-out, top 0.45s ease-out, left 0.45s ease-out,
        background-color 0.45s ease-out;
    background-color: white;
}

.corner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2em;

    &:hover {
        background-color: rgba(230, 240, 32, .8);
    }
}

.middle {
    top: 40%;
    left: 40%;
    height: 20%;
    width: 20%;
    border: 2px solid black;
    position: absolute;
    transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 5;

    &.hovered {
        width: 40%;
        height: 40%;
        transform: translate3d(-30%, -20%, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    &.topLeftHovered {
        left: 50%;
        top: 50%;
    }

    &.topRightHovered {
        left: 24%;
        top: 52%;
    }

    &.bottomRightHovered {
        left: 36%;
        top: 24%;
    }

    &.bottomLeftHovered {
        left: 55%;
    }
}

.topLeftCorner {
    &.hovered {
        width: 70%;
        height: 50%;
    }

    &.topRightHovered {
        width: 44%;
        height: 52%;
    }

    &.bottomRightHovered {
        width: 56%;
        height: 24%;
    }

    &.bottomLeftHovered {
        width: 75%;
        height: 40%;
    }

    &.middleHovered {
        width: 28%;
        height: 72%;
    }
}

.topRightCorner {
    right: 0;

    &.hovered {
        width: 56%;
        height: 72%;
    }

    &.topLeftHovered {
        width: 30%;
        height: 70%;
    }

    &.bottomRightHovered {
        width: 44%;
        height: 44%;
    }

    &.bottomLeftHovered {
        width: 25%;
        height: 60%;
    }

    &.middleHovered {
        width: 72%;
        height: 32%;
    }
}

.bottomRightCorner {
    bottom: 0;
    right: 0;

    &.topLeftHovered {
        width: 50%;
        height: 30%;
    }

    &.topRightHovered {
        width: 76%;
        height: 28%;
    }

    &.bottomRightHovered {
        width: 64%;
        height: 56%;
    }

    &.bottomLeftHovered {
        width: 45%;
        height: 40%;
    }

    &.middleHovered {
        width: 32%;
        height: 68%;
    }
}

.bottomLeftCorner {
    bottom: 0;

    &.topLeftHovered {
        width: 50%;
        height: 50%;
    }

    &.topRightHovered {
        width: 24%;
        height: 48%;
    }

    &.bottomRightHovered {
        width: 36%;
        height: 76%;
    }

    &.bottomLeftHovered {
        width: 55%;
        height: 60%;
    }

    &.middleHovered {
        width: 68%;
        height: 28%;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}