.wrapper {
    max-width: 1900px;
    margin: auto;
    padding: 50px;
}

.header {
    font-size: 6em;
    margin-bottom: 40px;
}

.container {
    display: flex;
    gap: 40px;
    padding-bottom: 60px;
    margin-bottom: 70px;
    border-bottom: 1px solid black;
}

.projectHeader {
    font-size: 3em;
    margin-bottom: 25px;
}

.description {
    margin-bottom: 40px;
    line-height: 1.65;
    font-weight: 300;
}

.thumbnail {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.left, .right {
    width: 50%;
}

.technology {
    font-style: italic;
    font-weight: 300;
}

.switch {
    flex-direction: row-reverse;
}